@charset "UTF-8"

* {height: 100%;
    
}
body { background-image: linear-gradient(to right, #59EBC2, #59EB91, #8EEB59, #59E2EB);
    
    font-family: Arial, Helvetica, sans-serif;
  main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 3px #51becf;
    width: 600px;
    padding: 10px;
    margin: auto;
    text-align: justify;
    }

    h1 {
        color: #8EEB59;
        text-align: center;
        text-shadow: 1px 1px 2px #44702b;
    }
    h2 {
        color: #59EB91;
    
  }

}